.gradle/
build/
out/
.idea/*
!.idea/
!.idea/.gitignore
!.idea/gradle.xml
!.idea/misc.xml
*.iml
local.properties
.codebuddy
androidApp/app/build/

windowsApp/**/bin/
windowsApp/**/obj/
*.user
*.suo
.vs/

apps/
!apps/
!apps/.gitkeep

*.log
*.tmp
